/*Services*/
.service-banner {
    background-image: url("../images/service-banner.jpg");
}
.service-banner p {
    margin:0px 0px;
    color: #e2211c;
}
.click {
    border: 1px solid #53555a;
    display: block;
    width: 261px;
    height: 66px;
    margin: auto;

}
.click p {
    font-size: 13px;
    color: #f35959;
    margin: 6px 0 0px 0;
} 
.click a {
    color: #0097ce;
    font-weight: 700;
    font-family: 'Uni-Sans-Bold';
}
.service-hea p {
    color: #e54d4d;
    font-family:'Uni-Sans-Bold';
    font-size: 20px;
}
.service-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dde9f1;
    padding: 50px;
}

.service-wrap h4 {
    font-family: 'Uni-Sans-Bold';
    color: #0097ce;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.service-wrap p {
    text-align: left;
}
.service-wrap .mr {
    color: #e12726;
}
.service-wrap ul {
    list-style-type: none;
        margin: 0;
    padding: 0;
}
.service-table th {
   text-align: center;
}
.service-table td a {
    text-align: center;
}
.service-table td {
    border-bottom: 1px solid #b2b1b2;
}
.service-table thead {
    background-color: #e7ecef;
    color: #53555a;
}
.service-address .table td, .table th {
        padding: 1.45rem 2rem;
        vertical-align: middle;
}
.service-address .btn{
    background-color: #fff;
    color: #0097ce;
    font-weight: 600;
    border: 1px solid #53555a !important;
    border-radius:0 !important;
}
.service-address .btn:after {
    display: none;
}
/*.bt { 
    display: flex;
    justify-content:center;
}*/
.btn-ser {
    padding:4px;
}

.btn-ser img {
margin-right: 10px;
}
.service-address .btn:focus {
    outline: none;
} 
.service-address .btn-outline-danger:hover {
    background-color: none;
    border-color: none;
}
.ser-lis {
    color:#e12726;
    margin: 0;
}
.ser-lis2 {
    text-align: center;
    margin: 0;
/*    padding-right: 22px;*/
    color: #53555a;
}
.ser-bac {
    background-color: #f3f8fb;
}
.cont-cente img {
    width: 28px;
    margin-right:7px;
}
.service-address {
    margin: 80px 0px;
}
.service-contact .custom-select {
    width: 48%;
    height: auto !important;
    padding: 6px 15px;
    margin: 1%;
}
/*.wpcf7 input.wpcf7-form-control {
    float: left;
    margin: 1%;
    width: 48%;
}*/
.btns {
    text-align: center;
}
.service-table .bt {
    width: 200px;
}